<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/form.css">
  <title>Add a book</title>
</head>

<body>
  <form action="/new" method="POST">
    <div>
      <label for="title">Title</label>
      <input type="text" name="title" id="title" required />
    </div>
    <div>
      <label for="date">Release Date</label>
      <input type="date" name="releaseDate" id="date" required />
    </div>
    <div>
      <label for="rating">Rating</label>
      <input type="number" name="rating" id="rating" max="5" min="0" required step="0.01" />
    </div>
    <div>
      <label for="pages">Pages</label>
      <input type="number" name="pages" id="pages" />
    </div>
    <div>
      <label for="genre">Genre</label>
      <select name="genre" id="genre" required
        onchange="this.nextElementSibling.className = this.value === 'other' ?  '': 'hidden'">
        <% genres.map(gn=> { %>
          <option value="<%= gn.tag_slug %>">
            <%=gn.tag %>
          </option>
          <% }) %>
            <option value="other">Other</option>
      </select>
      <input type="text" name="genrec" class="hidden">
    </div>
    <div>
      <label for="author">Author</label>
      <input type="text" name="author" id="author" />
    </div>
    <div>
      <label for="image">Image Url</label>
      <input type="url" name="imageUrl" id="image" />
    </div>
    <div>
      <label for="author-image">Author Image Url</label>
      <input type="url" name="authorImage" id="author-image" />
    </div>

    <div>
      <label for="description">Description</label>
      <textarea name="description" id="description"></textarea>
    </div>
    <button type="submit">Submit</button>
  </form>
</body>

</html>